<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.vel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Agreements" />
        <activity android:name=".OBDinfo" />
        <activity android:name=".SetupELM" />
        <activity android:name=".UserHelp" />
        <activity android:name=".VehicleSpec" />
        <activity android:name=".Graphview" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Audi" />
        <activity android:name=".Ford" />
        <activity android:name=".Volks" />
        <activity android:name=".BMW" />
        <activity android:name=".Renault" />
        <activity android:name=".Toyota" />
        <activity android:name=".TESTER" />
    </application>

</manifest>